// $body-bg-color: hsl(200, 4%, 20%) !default
$body-bg-color: hsl(200, 8%, 15%) !default
$body-text-color: hsla(0, 0%, 100%, 0.8) !default

// Links
$link-color-1: hsl(210, 70%, 73%) !default

// Tables
$tr-border-bottom-color: hsla(0, 0%, 100%, .075) !default
$th-bg-color: #6f6f6f !default
$th-border-color-bottom: hsl(0, 0%, 30%) !default
$th-border-color-left: hsl(0, 0%, 24%) !default
$th-border-color-right: hsl(0, 0%, 35%) !default
$th-border-color-top: hsl(0, 0%, 31%) !default
$tr-even-bg-color: hsla(0, 0%, 100%, .02) !default
$tr-odd-bg-color: $body-bg-color !default
$tr-selected-bg-color: rgba(0, 0, 0, 0.16) !default

// Panels
$panel-bg-color-solid: hsl(0, 0%, 26%) !default
$panel-bg-color-transparent: hsla(0, 0%, 100%, 0.05) !default
$panel-head-gradient: linear-gradient(rgba(255, 255, 255, .08), transparent) !default
$panel-shadow: 0 1px 4px hsla(0, 0%, 0%, .2) !default

// Forms
$input-bg-color: hsla(0, 0%, 0%, .2) !default
$input-box-shadow: inset 0 1px 5px hsla(0, 0%, 0%, .2)
$input-border-color: hsla(0, 0%, 50%, .2) !default
$input-border-color-top: hsla(0, 0%, 50%, .1) !default
$input-border-colors: $input-border-color-top $input-border-color $input-border-color $input-border-color !default
$input-text-color: white !default
$label-color: hsl(0, 0%, 80%) !default

// Select
$select2-bg-color: hsl(200, 5%, 20%) !default
$select2-input-bg-color: hsl(240, 0%, 15%) !default

// Buttons
$btn-dark-1-bg: hsl(0, 0%, 17%) !default
$btn-dark-1-gradient-stop-top: hsl(0, 0%, 33%) !default
$btn-dark-1-gradient-stop-bottom: hsl(0, 0%, 29%) !default
$btn-dark-1-color: white !default

$btn-dark-1-inset-bg: #3b3b3b
$btn-datk-1-inset-border-top-color: hsla(0, 0%, 0%, .01)
$btn-dark-1-inset-gradient-stop-top: #3b3b3b !default
$btn-dark-1-inset-gradient-stop-bottom: #414141 !default
$btn-dark-1-inset-color: lighten($btn-dark-1-bg, 10%)

$btn-light-1-bg: hsl(208, 15%, 87%) !default
$btn-light-1-gradient-stop-top: hsl(208, 15%, 87%) !default
$btn-light-1-gradient-stop-bottom: hsl(210, 2%, 68%) !default
$btn-light-1-color: hsl(0, 0%, 7%) !default

// Tab
$tab-border-color: hsla(0, 0%, 100%, .1) !default

// Alerts
$alert-danger-text-color: hsl(349, 57%, 53%) !default

$alert-success-bg-color: hsl(131, 39%, 33%) !default
$alert-success-gradient-stop-top: hsl(131, 39%, 33%) !default
$alert-success-gradient-stop-bottom: hsl(123, 41%, 25%) !default
$alert-success-text-color: #daeec8 !default
$alert-success-border-bottom-color: hsl(123, 45%, 26%) !default

$alert-default-bg-color: #c2b36c !default
$alert-default-gradient-stop-top: #a38e35 !default
$alert-default-gradient-stop-bottom: #a99847 !default
$alert-default-text-color: white !default
$alert-default-border-bottom-color: #958118 !default

// Toggle bool switch
$toggle-bool-gradient-stop-top: hsl(109, 82%, 23%)
$toggle-bool-gradient-stop-bottom: hsl(143, 86%, 20%)
$toggle-bool-box-shadow: 0 1px 3px hsla(0, 0%, 0%, .1), 0 0 1px hsla(0, 0%, 100%, .7) inset
