@media (prefers-color-scheme: dark)

	body.logged_in
		.flash
			background-color: #c2b36c
			background-image: linear-gradient(#a99847, #a38e35)
			border-bottom-color: #958118 !important
			color: white
			text-shadow: none

			&.flash_notice
				background-color: #4d8750
				background-image: linear-gradient(#4e9a53, #4d8750)
				border-bottom-color: #2e7732 !important
				border-bottom: 1px solid #adcbaf
				color: #daeec8
